.sidebar {
    height: 50%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: skyblue; 
    float: left; 
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;  
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: blue;
    display: block;
    transition: 0.3s;
    font-size: 20px;
}

.sidebar a:hover {
    background-color: orange;
    color: white;
}

.navbar{
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    float:right;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: blue;
    transition: 0.3s;
    font-size: 18px;
    border-right: 2px solid blue;
    padding: 10px 10px;
}

.navbar li:last-child{
    border-right: none;
}

.navbar li:hover a {
    background-color: #555;
    color: #fff;
}

